<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>6.1.2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NSArray对象的拷贝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NSDictionary对象复制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>NSMutableArray对象拷贝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NSMutableDictionary对象复制.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NSMutableString对象拷贝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NSString对象拷贝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0F29EF71E8A4D5500F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29F051E8A4D6D00F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29F101E8A4D7E00F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29F1B1E8A4D9200F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29F261E8A4DAD00F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29F311E8A4DC700F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0F29F3C1E8A4DE600F207C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
